body{
    margin: 0px auto;
    padding: 0;
}

.main{
    width: 600px;
    min-height: 400px;
    background: #FEFFFC;
}

.a_header{
    width: 600px;
    min-height: 70px;
    background: #FCD800;
    padding: 20px;
    box-sizing: border-box;
}

.a_center{
    width: 600px;
    min-height: 250px;
    margin: 10px 0px;
}

.left_side{
    width: 150px;
    min-height: 320px;
    background: #FCD800;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.center_side{
    width: 280px;
    min-height: inherit;
    background: #FCD800;
    float: left;
    margin: 0px 10px;
    padding: 20px;
    box-sizing: border-box;
}

.right_side{
    width: 150px;
    min-height: inherit;
    background: #FCD800;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.a_footer{
    width: 440px;
    min-height: 60px;
    background: #FCD800;
    float: right;
    padding: 20px;
    box-sizing: border-box;
}